html, body, #app {
    height: 100%;
}

.root {
    height: 100%;
    padding: 25px 10%;
    margin: 0 auto;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    margin: 0;
}

.flex-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    align-items: center;
    justify-content: center;
    display: none;
}

.flex-wrapper.visible {
    display: flex;
}

.sk-fading-circle {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    position: relative;
}
.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #1360f3;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
.loader-msg {
    text-align: center;
    font-size: 18px;
    color: #1360f3;
    letter-spacing: 1px;
    font-weight: bold;
}
@-webkit-keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
@keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

#app {
    color: #505050;
}

.header, .list, .header-flex {
    display: flex;
}

.header {
    justify-content: space-between;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.header-flex, .list {
    justify-content: center;
}

.list, .tab, .result {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list .item:not(:last-child) {
    margin-right: 15px;
}

.list .item .bold {
    font-weight: bold;
}

.location {
    text-align: center;
}

.header, .current-weather {
    background-color: #ccc;
}

.current-weather {
    margin: 15px 0;
    padding: 5px 0;
}

.header {
    padding: 10px 15px;
}

.search {
    width: 250px;
    padding: 2px 8px 2px 26px;
    background: white url("../img/5JuDgOa.png") 8px 3px no-repeat;
    border: 1px solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    color: #555860;
    margin-right: 10px;
}

.search:focus {
    outline: none;
    border-color: #66b1ee;
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.first-letter {
    display: inline-block;
}

.first-letter:first-letter {
    text-transform: uppercase;
}

.header-icon {
    height: 25px;
    margin-right: 8px;
}
h2 {
    font: 600 24px Oswald,Arial,sans-serif;
}

h3 {
    font: 600 36px Oswald,Arial,sans-serif;
}

h2, h3 {
    margin: 0;
}

.current-date {
    text-align: left;
}

.tab {
    height: 35px;
}

.weather-image {
    vertical-align: middle;
    margin-right: 10px;
}

.tab-item a {
    text-decoration: none;
}

.tab-item {
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    border-bottom: none;
    margin-left: 3px;
}

.tab-item:hover {
    background-color: #f5f5f5;
    font-weight: 600;
    transition: all .3s;
}

.tab-item.active {
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    font-weight: normal;
}

.weather-charts {
    position: relative;
}

.weather-charts > .chart {
    position: absolute;
    width: 100%;
}

.chart.active {
    z-index: 2;
}

.result {
    top: 32px;
    width: 250px;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fdfdfd;
    z-index: 8;
    font-size: 13px;
}

.resultItem {
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border-bottom: 1px solid #c4c7d7;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
}

.content-wrapper > span {
    display: block;
}

.resultItem:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.resultItem:first-child:before,
.resultItem:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.resultItem:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.resultItem:first-child:hover:after {
    border-bottom: 5px solid #efeeee;
}

.resultItem:last-child {
    border-bottom: none;
}

.content-wrapper:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url(http://cssdeck.com/uploads/media/items/7/7BNkBjd.png) 0 0 no-repeat;
}

.resultItem:hover {
    background-color: #efeeee;
}

.help {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-image: url(../img/if_Help_22150.png);
    cursor: pointer;
}

.help:after {
    content: 'To start a search, please, type at least 3 letters';
    position: absolute;
    background-color: #484848;
    color: #fff;
    display: none;
    top: 30px;
    width: 155px;
    font-size: 12px;
    padding: 4px;
}

.help:hover:after {
    display: block;
}

.error-msg {
    text-align: center;
    margin-top: 150px;
    color: #cc2222;
}
